.App {
  text-align: center;
}

.cart-wrapper {
  border: 1px solid lightslategrey;
  padding: 20px;
  display: flex;
}

.cartimg-wrapper {
  text-align: right;
  margin: 20px 0 20px 0;
}

.cartimg-wrapper img {
  width: 40px;
}



.image-wrapper img {
  width: 100px;
}

.addtocart {
  width: 95px;
  height: 35px;
  background-color: red;
  border: none;
  color: white;
  border-radius: 15px;
}